.container {
  display: grid;
  border: groove 2px red;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 500px;
  grid-template-areas:
  "a b c";
  z-index: 1;
}
.itemBar_ {
  grid-area: a, c;
  border: groove 5px purple;
  background-color: black;
}

.itemView_ {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-area: b;
}

.output {             /* child of .itemView_ */
  grid-column: 2;
  width: 80%;
  margin: auto;
  text-align: right;

}

.output input:nth-of-type(n) {
  border-radius: 10px;
  border: groove 1px black;
  width: 100%;
  text-align: right;
  font-size: medium;
  vertical-align: bottom;
  padding-right: 5%;
}

.blocks { /* child of .itemView_ */
  grid-column:  1;
  display: grid;
  grid-template-columns: repeat(8, 55px [cVar]);
  grid-template-rows: repeat(8, 55px [rVar]);
  margin: auto auto;
}

/* .blocks button {
  font-weight: bold;
  font-size: small;
  background-color: blanchedalmond;
  /* transition-property:  background-color;
  transition-duration: 2s;
  transition-timing-function: linear; */

.item {
  display: block;
  background-color: blanchedalmond;
  font-weight: bold;
  font-size: small;
  outline: none;

}
.blocksUpdate {
  font-weight: bold;
  font-size: small;
  background-color: gray;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

[data-count]:nth-child(30) {
  opacity: 0.5;
}


[data-count= "0"]:nth-child(30) {
    opacity: 1;
}


